# add_hwservice(hal_graphics_composer_server, hal_displaytopology_hwservice);
allow duo_service hal_displaytopology_hwservice:hwservice_manager find;
allow duo_service hal_graphics_composer_default:binder { call };
allow system_app hal_displaytopology_hwservice:hwservice_manager find;
allow system_app hal_graphics_composer_default:binder { call };
